.button {
  background-color: aqua;
  border-radius: 10px;
  border: 2px solid green;
  cursor: pointer;
  transition-property: background-color;
  transition: 250ms;
  font-size: 15px;
  padding: 5px;
}

.button:hover {
  background-color: yellow;
}
